<div class="image-uploader">
    @if (!string.IsNullOrEmpty(PreviewImageUrl))
    {
        <p>Blob URL: <a href="@PreviewImageUrl" target="_blank">@PreviewImageUrl</a></p> 
        <img src="@PreviewImageUrl" alt="Product Image" class="image-preview" />
        <button @onclick="ClearImage" class="clear-image-btn">×</button>
    }
    else
    {
        <p>Зображення не завантажено</p>
    }

    <button class="upload-btn" @onclick="OpenFilePicker">Завантажити зображення</button>
</div>
