<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Сторінку не знайдено</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">На жаль, такої сторінки не існує.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>