@using GoodsBlazor.Admin.Layout.AdminNavMenu
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <AdminNavMenuComponent />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
