@page "/create-product"
@using GoodsBlazor.Common.Components.ImageUploader
@using GoodsBlazor.Shared.Dtos
@using GoodsBlazor.Common.Components.BCHSelect

<h3>Створення товару</h3>

<div class="product-form">
    <label for="name">Name:</label>
    <input id="name" @bind="_product.Name" class="form-control" />

    <label for="description">Description:</label>
    <textarea id="description" @bind="_product.Description" class="form-control"></textarea>

    <label for="price">Price:</label>
    <input id="price" type="number" step="0.01" @bind="_product.Price" class="form-control" />

    <label for="category">Category:</label>
    <BCHSelectComponent T="ProductTypeDto"
                        Options="@_productTypes"
                        SelectedChanged="OnProductTypeSelected" />

    <ImageUploaderComponent Product="_product" />

    <div class="button-group">
        <button @onclick="AdminCreateProduct" class="btn btn-primary">Create</button>
        <button @onclick="BackToProductPage" class="btn btn-secondary">Cancel</button>
    </div>
</div>