@page "/edit-product/{Id:int}"
@using GoodsBlazor.Common.Components.ImageUploader

<h3>Редагування товару</h3>

@if (_product != null)
{
    <div class="product-form">
        <label for="name">Назва:</label>
        <input id="name" @bind="_product.Name" class="form-control" />

        <label for="description">Опис:</label>
        <textarea id="description" @bind="_product.Description" class="form-control"></textarea>

        <label for="price">Ціна:</label>
        <input id="price" type="number" step="0.01" @bind="_product.Price" class="form-control" />

        <ImageUploaderComponent Product="_product" />

        <div class="button-group">
            <button @onclick="SaveChangesAsync" class="btn btn-primary">Зберегти</button>
            <button @onclick="BackToProductPage" class="btn btn-secondary">Скасувати</button>
        </div>
    </div>
}
else
{
    <p>Oops, something went wrong...</p>
}