@page "/login"

<PageTitle>Login</PageTitle>

<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>

        @if (!string.IsNullOrEmpty(_errorMessage))
        {
            <p class="error-message">@_errorMessage</p>
        }

        <div class="form-group">
            <input @bind="_email" type="email" class="form-control" placeholder="Email" />
        </div>

        <div class="form-group">
            <input @bind="_password" type="password" class="form-control" placeholder="Password" />
        </div>

        <button @onclick="LoginAsync" class="btn-login">Login</button>

        <p class="register-link">
            Don't have an account yet? <a href="/register">Register</a>
        </p>
    </div>
</div>
